FACEBOOK_CLIENT_ID="808074496765670"
FACEBOOK_CLIENT_SECRET="c34fc586cf0fc291cc4d5faedae0e698"
GITHUB_CLIENT_ID="935c28d7ee3eb3bf1ead"
GITHUB_CLIENT_SECRET="1b9572ce7f04f010373991b0004ce19248d14313"
GOOGLE_CLIENT_ID="514992530337-rs2qscuid36fqkck5bfkjbre8g4h4l4h.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="NhFf_OdooqWg9OlKEohSyASG"
TWITTER_CLIENT_ID="5PUxCRWDdnxyISZitoUWLvmAz"
TWITTER_CLIENT_SECRET="MCJa5shuJ80jpKgz2LVDyIF1yrcCoUYZxdqizHaIfbdKxe4NMV"
