p 支払方法の設定
p 支払い方法の設定ができます。
p 各種支払方法の設定をします。
p ご注文手続きの「STEP.2」「STEP.3」と、ご注文の後にお客様に送られる確認メールに表示されます。
= form_with model: , url: , method: :patch, local: true do |f|
  = f.label '支払い方法（必須）'
  = f.radio_button :payment_method, 1, checked: true
  | 銀行振込
  = f.radio_button :payment_method, 2
  | 代金引換
  = f.radio_button :payment_method, 3
  | 締め払い
  div
  = f.label '銀行振込'
  | ＜振込先情報＞
  = f.text_field :bank_transfer_comment
  div
  = f.label '代金引換'
  | ＜代引手数料設定＞
  p 集金金額（税込）	代引手数料　 税込 税別
  p 1
  | 0円 〜
  = f.text_field :first_limit
1	0円 ～
1000
円未満
100
円
2	～
10000
円未満
300
円
3	～
30000
円未満
400
円
4	～
100000
円未満
600
円
5	～
0
円未満
0
円
6	～
0
円未満
0
円
7	～ 300000円以下
1000
円
※代引手数料は、集金金額に合わせ7段階までの設定ができます。
※集金金額とは、商品代金に消費税・送料・代引手数料等を全て含んだ支払い合計額です。
※代引手数料が一律の場合は「7」の300000円以下の欄のみ入力してください。
※集金金額が300000円を超える場合、お客様は代金引換の支払いを選択できません。
＜代引手数料についての説明＞
コメント
※＜代引手数料設定＞に登録した内容をテキストで入力してください。
　ご注文STEPの支払い方法に表示されます。
締め払い	＜備考＞
