h2 ご注文完了
h3 ご注文が完了しました。
h3 ショップ名のご利用、誠にありがとうございました。

p 注文番号：200612-0001

p お客様のメールアドレス宛てに、ご注文確認のメールをお送りいたします。

p ※会員の方は現在ログイン中です。
p 会員サービスをご利用にならない場合には、ログアウトすることをおすすめします。
= link_to 'ログアウト', logout_path, method: :post
= link_to 'トップへ', root_path
