p マイページ

h2 会員メニュー
p 左
= "#{@current_user.name_sei + @current_user.name_mei}様"
= link_to 'マイページトップ', mypage_path
= link_to 'マイリスト', user_my_lists_path(@current_user)
= link_to '注文履歴', user_order_histories_path(@current_user)
= link_to 'アドレス帳', user_addresses_path(@current_user)
= link_to 'パスワード変更', password_edit_user_path(@current_user)
= link_to 'ログアウト', logout_path, method: :post

h2 マイページ
p 右
= link_to 'マイリスト', user_my_lists_path(@current_user)
p マイリスト（お気に入り）に登録されている商品を確認することができます。
p マイリストから、商品を注文することができます。
= link_to '注文履歴', user_order_histories_path(@current_user)
p お客様のこれまでのご注文履歴をご確認いただけます。
= link_to 'アドレス帳', user_addresses_path(@current_user)
p お届け先をあらかじめご登録いただけます。
= link_to 'パスワード変更', password_edit_user_path(@current_user)
p ショップ名会員サービスのログインに使用するパスワードが変更できます。
= link_to 'ログアウト', logout_path, method: :post
p 公共のパソコンでご利用されているお客様は、必ずログアウトしてください。
