p カテゴリ管理
p 商品カテゴリを２階層まで設定します。
p 新規登録の際は選択を新規登録にした上で、テキストボックスに内容を記入し「保存」ボタンを押します。
p 変更の際にはリストの中から変更したい項目を選択し、「参照」ボタンを押します。内容が表示されます。
p 内容を編集した後は、「保存」ボタンを押します。
p 下の階層を編集する場合には、上の階層から該当カテゴリを選択し「参照」ボタンを押したうえで、下の階層を編集していきます。
p 削除の際にはリストの中から変更したい項目を選択し、「削除」ボタンを押します。選択した項目が削除されます。
p 削除するカテゴリの下に階層がある場合には、下のカテゴリの内容も削除されますのでご注意ください。
p HTML入力が可能な編集エリアは、HTMLを選択してテキスト入力すると表記が崩れますので、ご注意ください。
p カテゴリ画像を設定できます。ただしプレビュー表示されているサイズは実際のサイズとは異なります。
p サイト表示を「非表示」にした場合、該当カテゴリとその下階層のカテゴリ全てのリンクがサイト表示されなくなります。ただし直接、該当カテゴリの一覧URLにアクセスした場合には表示されます。また該当カテゴリ内の商品も通常どおり表示されます。
p カテゴリを設定（追加、変更、削除いずれも）しても、すぐにサイトに反映されないことがあります。その場合は、１～数時間後に反映されます。

p 第１階層
= form_with model: Category, url: category_edit_admin_products_path, local: true, method: :get do |f|
  = f.collection_select :id, @categories, :id, :name, include_blank: '新規作成'
  = f.submit '参照'
