p バナー・リンク管理
p サイトに表示されるバナーやリンクを管理します。
p 新しく表示位置を追加するときは、表示位置を「新規登録」にし、表示位置名称を入力し、「追加」ボタンを押してください。ただし表示するにはテンプレート側の設定も必要です。
p 画像を登録する場合は、あらかじめ「画像管理」にて画像をアップロードしてください。
p 全ての編集が終わりましたら、「サイト更新」ボタンを押し、情報を更新してください。「一時削除」、「一時保存」だけでは、データは更新されません。

p 表示位置
