p ロゴを入れる

= link_to 'トップ', root_path
p |
= link_to '自由ページ', free_pages_path
p ｜
= link_to 'よくある質問', inqueries_path
p ｜
= link_to 'サイトマップ', sitemap_path
p 会員ページ｜
= link_to 'ログアウト', logout_path, method: :post
p｜カート

p ここまでがヘッダとする
p ------------------------------------
